NODE_ENV=development
LOG_LEVEL=INFO
DISABLE_LOG_CONSOLE=false

# MongoDB connection string (Required for Database)
MONGO_URI=mongodb://localhost:27017/slvgj_billing

# Gmail credentials for sending emails (Optional/Required for Email Service)
GMAIL_USERNAME=your-email@gmail.com
GMAIL_PASSWORD=your-app-password
